# Ignore Rstudio files
.Rproj.user/
.Rproj

# Ignore data and history files
.Rhistory
.RData
.Ruserdata
cpp/*.o
cpp/*.so
wastewater model/*.RData
age epidemic curve Toronto/*.RData
age epidemic with admission Toronto/*.RData

